  <h2 id="font1">SHOW</h2>

  <div class="cover">
    <a class="note sticky1" ui-sref="edit({todo:todo})" ng-repeat="todo in main.show.todo">
      <div class='text'>{{todo.description}}</div>
      <div class='text'>Priority: {{todo.priority}}</div>
      <div class='text'>Done: {{todo.done}}</div>
    </a>
  </div>


  <!-- <div>
    <label ng-show="main.currentTodo.priority">Priority: {{main.currentTodo.priority}}</label><br>
  </div> -->
  <button ui-sref="edit({todo: main.currentTodo})" ng-click="main.setTodoToEdit(main.currentTodo)" name="Edit">EDIT</button>
  <button ng-click="main.deleteTodo( todo._id)" name="Delete">DELETE</button>
  <button ng-click="main.addDone(main.currentTodo)" name="done">DONE</button>
  <button ng-click="main.notDone()" name="Favorite">NOT DONE</button>
</div>

<div class="home" ng-repeat="todo in main.todos">
  <h2 id="font1">{{main.currentTodo.todo}}</h2>
    <div>
      <form>
        <input type="text" ng-model="todo.description">
          <input type="number" ng-model="todo.priority">
      <input type="text" ng-model="todo.done">
      <div class="nav">
        <button ng-click=" main.startEditing(todo)">Edit</button>
        <button ng-click="main.deleteTodo( todo._id)">&#10006</button>
      </div>
    </form>
    </div>
</div>
